.tweets-article {
  display: flex;
  flex-direction: column;
  border: 5px solid;
  color: #191816;
  margin-bottom: 10px;
}

.tweets-article:hover {
  box-shadow: 0 0 11px blue;
}

.article-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.img-name {
  display:flex;
  flex-direction: row;
  align-items: center;
  margin-left: 25px;
}

.img-name img {
  height: 75px;
  margin-right: 10px;
}



.article-header p {
  margin-right: 25px;
  font-size:25px;
  font-weight:bold

}

.tweet-content {
  margin-left: 25px;
}

footer  {
  display: flex;
  flex-direction: row;  
  justify-content: space-between;
  margin: 10px 10px;
  border-top:solid 5px
}



.fa-flag:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  color:  rgb(51, 69, 129)
}

.fa-retweet:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  color:  rgb(51, 69, 129)
}

.fa-heart:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  color:  rgb(51, 69, 129)
}

