/* Layout for tweet form and button */

.new-tweet {
  display: flex;
  flex-direction: column;
  width: 100%
}

.title-input {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  border-bottom: #FFFFFF
}


label {
  margin-bottom: 15px;
}

.button-counter {
  display: flex;
  border-top: solid 5px;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  margin-top: 25px;
  padding-top: 25px;
  margin-bottom: 25px;
}

button {
  background-color: #4056A1;
  font-size: smaller;
  color: #FFFFFF;
}

#tweet-text {
  border: none;
  background-color: #c5fdff;
}

#tweet-text:hover {
  box-shadow: 0 0 11px blue;
}

.counter {
  display: flex;
}

#er {
  display: none;
  justify-content: center;
  flex-direction: row;
  border: solid;
  border-color: red;
  font-size: medium;
  color: red;
  padding: 5px;
}